@model IEnumerable<SBIT3J_SuperSystem_Final.Models.OverallActivitiesModel>
@{
    ViewBag.Title = "OverallActivities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Styles/Group1Stylesheets/OverallActivitiesStyle.css" rel="stylesheet" />

<h2>Overall Activities</h2>

<div class="filter-container">
    <form method="get" action="@Url.Action("OverallActivities")">

        <div class="search-field">
            <input type="text" name="searchFilter" id="searchFilter" placeholder="Search" />
            <div class="search-field-icon" name="filterType" value="search">
                <img src="~/Image/Group1-Assets/Magnify.png" />
            </div>
        </div>

        <button type="submit" name="filterType" value="search" style="display:none;">Apply Search Filter</button>

        <div class="date-filter-container">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" />

            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" />

            <button type="submit" name="filterType" value="date">Filter Date</button>
        </div>

        <!-- Add this link for PDF generation -->
        <a href="@Url.Action("GeneratePdf", new { searchFilter = Request.QueryString["searchFilter"], startDate = Request.QueryString["startDate"], endDate = Request.QueryString["endDate"] })" class="btn btn-primary">
            <div class="print-pdf-btn">
                <p>Print</p>
            </div>
        </a>
    </form>
</div>


    <div class="table-container">
        <table>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Activity</th>
                <th>Date&Time</th>
            </tr>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Employee_ID</td>
                    <td>@employee.Name</td>
                    <td>@employee.Username</td>
                    <td>@employee.Role</td>
                    <td>@employee.Activity</td>
                    <td>@employee.Date</td>

                </tr>
            }
        </table>
    </div>




