@model SBIT3J_SuperSystem_Final.Models.EmployeeAccount

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .textbox {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
        }

        .btn {
            position: static;
            width: 40%;
            padding: 20px 40px;
            margin: 8px 0;
            margin-left: 50px;
            background-color: cornflowerblue;
            color: black;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 32px;
            font-family: 'Times New Roman';
        }


            .btn:hover {
                color: black;
                background-color: white;
            }


        * {
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: Arial;
        }

        body {
            background: rgba(75,6,15,255);
            background-attachment: fixed;
            overflow: hidden;
        }

        .titlehder {
            font-family: 'Times New Roman';
            position: absolute;
            left: 15%;
            top: 5%;
            font-size: 52px;
            color: white;
        }


        .logo-img {
            position: absolute;
            display: block;
            width: 10%;
            border-radius: 55%;
            border: 0.5px solid #808080;
            top: 10px;
            margin-left: 40px;
            margin-right: auto;
            z-index: 2;
        }

        nav {
            margin-left: -50px;
            width: 430px;
            height: auto;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            nav::-webkit-scrollbar {
                display: none;
            }

        .navitem {
            position: relative;
            display: block;
            background-color: ghostwhite;
            padding: 5px;
            margin-top: 10%;
            margin-right: auto;
            margin-left: auto;
            width: 130px;
            height: 130px;
            border-radius: 55%;
            border: 1px solid rgba(0,0,0,1);
        }

        .cogicon {
            position: absolute;
            background-color: white;
            border: 5px solid rgba(0,0,0,1);
            border-radius: 55%;
            right: 50px;
            top: 50px;
            width: 180px;
            height: auto;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .exitt {
            position: absolute;
            padding: 0;
            margin: auto;
            margin-left: 80%;
            margin-bottom: -60px;
            width: 50px;
            height: 50px;
        }

        .btnn {
            text-align: center;
            background-color: dodgerblue;
            width: 70px;
            height: 50px;
        }

        .dvlogout {
            position: absolute;
            text-align: center;
            background-color: deepskyblue;
        }

        .curvenav {
            position: absolute;
            background-color: ghostwhite;
            border-radius: 140px, 0, 0, 40px;
            transition: 0.5s ease-in-out;
            width: 300px;
            height: 160px;
            border: 1px, solid, rgba(0,0,0,1);
            top: 285px;
            margin-left: 88px;
            border-radius: 80px 0 0 80px;
            border: 3px solid rgba(100,21,4,255);
            z-index: -2;
        }

        .btnn:hover {
            background-color: blue;
        }

        .container {
            position: absolute;
            background-color: lightgrey;
            margin: 0 auto;
            margin-top: 5%;
            margin-left: 17%;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 40px 40px 40px 40px;
            height: 80%;
            width: 65%;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            .container::-webkit-scrollbar {
                display: none;
            }

        .logobg {
            opacity: 0.15;
            position: absolute;
            margin: 0;
            padding: 0;
            top: -170px;
            left: -70px;
            width: 2720px;
        }

        .ContainerHeader {
            background-color: white;
            width: 100%;
            height: 42px;
            top: 30px;
        }

        .lgout-btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            margin-left: 40%;
            margin-right: 40%;
            font-size: 18px;
            color: #ffffff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .lgout-btn:hover {
                background-color: #0056b3;
            }

        h2.crud-header {
            color: black;
            font-size: 42px;
            margin-bottom: 0;
            text-align: left;
            background-color: white;
            height: 42px;
        }

        table.crud-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th.crud-header-cell, td.crud-data-cell {
            position: static;
            padding: 12px;
            border: 2px solid rgba(0,0,0,0.7);
            text-align: left;
            font-size: 28px;
        }

        th.crud-header-cell {
            background-color: #f2f2f2;
            font-size: 32px;
        }

        tr.crud-row:nth-child(even) {
            background-color: #f9f9f9;
        }

        /*tr.crud-row:hover {
            background-color: #e5e5e5;
        }*/
        .crud-row {
            position: static;
            margin-top: 20px;
            background-color: white;
            margin: 100px;
        }

        .custom-btn {
            display: inline-block;
            padding: 7px 13px;
            margin: 5px;
            font-size: 24px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .custom-btn:hover {
                background-color: #0056b3;
            }

        .custom-btn2 {
            position: absolute;
            display: inline-block;
            background-color: maroon;
            right: 20px;
            top: 15px;
            padding: 7px 13px;
            margin: 5px;
            font-size: 32px;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .custom-btn2:hover {
                background-color: red;
            }

        .btn {
            font-family: Arial;
            color: white;
            background-color: maroon;
            transition: background-color 0.3s;
        }

            .btn:hover {
                color: white;
                background-color: red;
            }

        .backtolist {
            position: absolute;
            display: inline-block;
            padding: 7px 10px;
            top: 10px;
            right: 20px;
            margin: 5px;
            font-size: 52px;
            color: white;
            background-color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .backtolist:hover {
                background-color: dodgerblue;
            }

        input[type="text"] {
            font-size: 24px;
        }

        .text-danger {
            color: darkred;
            font-style: oblique;
            font-weight: bold;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <img src="~/Image/Group4/LogoDTA.png" class="logo-img" />


    <div class="container">
        <a href="@Url.Action("Hr_Employee_L", "EmployeeManagement")" class="custom-btn2"><h4 style="color:white;">Back to List</h4></a>
        <!--<img src="~/Image/Group4/background/Logo-background.jpg" class="logobg" />
        <div class="ContainerHeader"><h1 style="font-family: 'Times New Roman'; font-size:42px;">EMPLOYEE LIST</h1></div>-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <div class="form-horizontal">
                <h1 style="font-family:'Times New Roman'; font-size:52px;">Employee Account</h1>

                <table>
                    <tr class="crud-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <td class="crud-header-cell" style="width:14in;">
                            <div class="form-group">
                                <h2>Employee ID:</h2>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Employee_ID, new { htmlAttributes = new { @class = "textbox" } })
                                    @Html.ValidationMessageFor(model => model.Employee_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>

                        <td class="crud-header-cell" style="width:50%;">
                            <div class="form-group">
                                <h2>Username:</h2>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "textbox" } })

                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </td>
                    </tr>

                    <br />
                    <tr class="crud-row">
                        <td class="crud-header-cell" style="width:50%;">
                            <div class="form-group">
                                <h2>Role:</h2>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "textbox" } })
                                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        </tr>
                </table>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Create" class="btn btn-default" />
                        <input type="reset" value="Reset" class="btn btn-default" />
                    </div>
                </div>
            </div>


        }
    </div>


    <script>
        $(document).ready(function () {
            // Attach an input event handler to each input field
            $("input[type='text'], input[type='date']").on("input", function () {
                // Get the associated validation message element
                var validationMessage = $(this).closest(".form-group").find(".text-danger");

                // Hide the validation message
                validationMessage.hide();
            });
        });
    </script>


</body>
</html>
